@import 'application';

.base {
  background: $ice;
  padding: 0 20px;
}

.main-content {
  background: white;
  width: 800px;
  margin: 20px auto;
  padding: 20px;
  box-shadow: 0 4px 6px 0 hsla(0, 0%, 0%, 0.2);
  border-radius: 5px;
}

table {
  border-collapse: collapse;
  margin: 20px 0;

  th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #eee;
  }

  td {
    color: #434343;
  }

  thead {
    color: #8199a3;
  }
}

.recent-transactions-table {
  table-layout: fixed;
  width: 690px;

  .date-field {
    width: 100px;
  }

  .description-field {
    width: 300px;
  }

  .amount-field {
    width: 90px;
  }

  .last-field {
    width: 200px;
  }
}

.account-balances-table {

  thead th:nth-child(1) {
    width: 30%;
  }

  td:nth-child(1) {
    font-weight: bold
  }

  tr:last-child {
    font-weight: bold
  }
}
